.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 600px;
  padding: 0 2rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px 25px;
  background-color: #ffd438;
}

.socialLinks {
  margin-left: auto;
  display: flex;
}

.imageWrapper + .imageWrapper {
  margin-left: 15px;
}

.logo {
  width: auto;
  height: 100%;
}

.banner {
  width: 100%;
  background-color: #ffd438;
  padding: 5rem 0;
}

.main {
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  margin-bottom: 3rem;
}

.title h1 {
  color: #ff6a00;
  margin: 0;
  font-weight: 600;
}

.title span {
  font-weight: 300;
}

.titleContent {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  /* margin-right: 50px; */
}

.description {
  line-height: 30px;
  font-weight: 400;
}

.clients h2 {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.2rem;
  margin: 2rem 0 5rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 25px;
  row-gap: 75px;
  justify-content: center;
}

.card {
  width: 250px;
  height: fit-content;
  padding: 5px;
  background-color: grey;
  margin: 10px;
  border: 1px solid blue;
}

.card:nth-child(2n + 1) {
  background-color: red;
  margin-left: 50px;
}

.card:nth-child(2n + 1) {
  position: relative;
  top: 20px;
}

.card.lastCard {
  grid-area: 4 / 1 / 4 / 2;
  margin-left: 25px;
}

.card.lastCard + .card.lastCard {
  grid-area: 4 / 2 / 4 / 2;
  margin-left: 90px;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
}
